* {
  margin: 0;
  padding: 0;
}

.container {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: repeat(4, auto);
  gap: 4px;
}

.container div {
  padding: 15px;
  font-size: 32px;
  font-family: Helvetica;
  font-weight: bold;
  color: white;
}

.header {
  background-color: #393f4d;
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
  grid-column: 1 / span 2;
}

.logo {
  justify-self: start;
  align-self: center;
  text-wrap: nowrap;
}

.menu {
  align-self: center;
  justify-self: end;
}

.menu ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 4rem;
  text-wrap: nowrap;
}

.menu ul,
.menu li {
  font-size: 16px;
  list-style: none;
}

.sidebar {
  background-color: #c50208;
  grid-column: 1;
  grid-row: 2 / 4;
  display: grid;
  gap: 50px;
  grid-auto-rows: 1fr;
}

.sidebar .photo {
  background-color: white;
  color: black;
  font-size: 12px;
  font-weight: normal;
  border-radius: 10px;
  display: grid;
  place-items: center;
}

.sidebar .side-content {
  background-color: white;
  color: black;
  font-size: 16px;
  font-weight: normal;
  display: grid;
  place-items: center;
}

.nav {
  background-color: #c50208;
  grid-column: 2;
  grid-row: 2 / 3;
}

.nav ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.nav ul li {
  font-size: 16px;
  text-transform: uppercase;
  list-style: none;
}

.article {
  background-color: #bccbde;
  grid-column: 2;
  grid-row: 3 / -2;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 15px;
}

.article p {
  font-size: 18px;
  font-family: sans-serif;
  color: white;
  text-align: left;
}

.article .card {
  background-color: #ffffff;
  color: black;
  text-align: center;
  height: 200px;
}

.card p {
  color: black;
  font-weight: normal;
  font-size: 14px;
}

.card .title {
  font-size: 18px;
  text-align: center;
}

.footer {
  background-color: #393f4d;
  grid-row: -2;
  grid-column: 1 / span 2;
}

.footer p {
  font-size: 13px;
  font-weight: normal;
}
