body,
html {
  height: 100%;
  margin: 0;
}

.container {
  text-align: center;
  height: 100%;
  padding: 16px;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(8, 1fr);
  gap: 15px;
}

.container div {
  padding: 15px;
  font-size: 32px;
  font-family: Helvetica;
  font-weight: bold;
  color: white;
  border-radius: 15px;
}

.header {
  background-color: #006157;
  grid-area: 1 / 1 / 2 / 7;
}

.sidebar {
  background-color: #005b94;
  grid-area: 2 / 1 / -2 / 2;
}

.nav {
  background-color: #642cde;
  grid-area: 2 / 2 / 3 / 7;
}

.article {
  background-color: #7e1dc3;
  grid-area: 3 / 2 / 8 / 7;
}

.footer {
  background-color: #393f4d;
  grid-area: 8 / 1 / 9 / 7;
}

.article p {
  font-size: 18px;
  font-family: sans-serif;
  color: white;
  text-align: left;
}
